/* Content Area
---------------------------------------------------------------------------------------------------- */

.site-inner {
	padding: 20px 0;
	@include media(">=tablet") {
		padding: 40px 0;
	}

	min-height: calc( 100vh - 400px );

	.admin-bar & {
		min-height: calc( 100vh - 432px );
	}
}

/* Entries
--------------------------------------------- */

.entry {
	margin-bottom: 40px;
}

.entry-content .attachment a,
.entry-content .gallery a {
	border: none;
}

.entry-header {
	margin-bottom: 16px;

	.single & {
		margin-bottom: 32px;
	}

	.entry-title {
		margin-bottom: 0;
	}

	.entry-meta {
		margin: 6px 0 0;
	}
}

.entry-meta {

	font-size: 14px;

	& > a,
	& > span {
		@include margin-no-edge( 0 12px );
	}
}

.page h1.entry-title {
	text-align: center;
}

/* Archive
--------------------------------------------- */

.archive-intro {
	border-bottom: 5px solid rgba( $blue_1, .2 );
	margin-bottom: $base-margin;
}

/* Entry Navigation
--------------------------------------------- */

.posts-navigation {
	overflow: hidden;
	width: 100%;

	.nav-previous {
		float: right;
	}

	.nav-next {
		float: left;
	}
}


/* Comments
--------------------------------------------- */

.entry-comments {

	.comment-list {

		li {
			border-top: 1px solid $border-color;
			list-style-type: none;
			padding: 16px 0 0;
		}
	}

	.comment-respond {

		input[type="email"],
		input[type="text"],
		input[type="url"] {
			width: 50%
		}

		label {
			display: block;
			margin-right: 12px;

			&[for="subscribe"] {
				display: inline-block;
			}
		}

	}
}
