/* Content Area
---------------------------------------------------------------------------------------------------- */

.site-inner {
	padding: 20px 0;
	@include media(">=tablet") {
		padding: 40px 0;
	}

	min-height: calc( 100vh - 400px );

	.admin-bar & {
		min-height: calc( 100vh - 432px );
	}
}

/* Entries
--------------------------------------------- */

.entry {
	margin-bottom: 40px;
}

.entry-content .attachment a,
.entry-content .gallery a {
	border: none;
}

.entry-header {
	margin-bottom: 16px;

	.single & {
		margin-bottom: 32px;
	}

	.entry-title {
		margin-bottom: 0;
	}

	.entry-meta {
		margin: 6px 0 0;
	}

	.shared-counts-wrap {
		margin: 6px 0 0;

		&.style-bar .shared-counts-button.included_total {
			display: none;
		}
	}
}

.entry-meta {

	font-size: 14px;

	& > a,
	& > span {
		@include margin-no-edge( 0 24px 0 0 );

		@include media("<tablet") {
			margin: 0;
			display: block;
		}
	}
}

.page h1.entry-title {
	text-align: center;
}

.presentation-header {
	background: $grey_3;
	border-bottom: 25px solid $blue_1;
	border-top: 25px solid $blue_1;
	padding: 80px 16px 100px;
	position: relative;
	display: grid;
	align-items: center;
	margin-bottom: 32px;

	h2 {
		color: $white;
		@include font-sizes( 30px, 60px );
		text-align: center;
		font-weight: 700;
		margin: 0;
	}

	.byline {
		color: $white;
		font-weight: 300;
		font-size: 12px;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		padding: 8px;

		svg {
			fill: $white;
			width: 40px;
			height: 40px;
			margin-right: 8px;
			float: left;
		}

		span {
			display: block;
		}
	}

	.block-link {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 2;
	}

	@include media(">=tablet") {
		padding: 200px 64px 250px;

		.byline {
			font-size: 18px;

			svg {
				width: 80px;
				height: 80px;
				margin-right: 20px;
			}

			span:first-of-type {
				padding-top: 10px;
			}

		}
	}
}

/* Archive
--------------------------------------------- */

.archive-intro {
	border-bottom: 5px solid rgba( $blue_1, .2 );
	margin-bottom: $base-margin;
	text-align: center;
}

.archive .site-main article:not(:last-child) {
	border-bottom: 1px solid $border-color;
}

/* Entry Navigation
--------------------------------------------- */

.posts-navigation {
	overflow: hidden;
	width: 100%;

	.nav-previous {
		float: right;
	}

	.nav-next {
		float: left;
	}
}


/* Comments
--------------------------------------------- */

.entry-comments {

	.comment-list {
		margin: 0;

		li {
			list-style-type: none;
		}

		& > li {
			margin-bottom: 32px;
		}

		.comment-meta {
			margin-bottom: 16px;

			.avatar {
				float: left;
				border-radius: 50%;
				margin-right: 8px;
			}
		}

		.says,
		.comment-metadata {
			display: none;
		}

		article {
			background: $grey_4;
			padding: 16px;

			@include media(">=tablet") {
				padding: 32px;
			}
		}

		ol.children {
			margin: 0;
			border-left: 16px solid $grey_2;

			article {
				background: $grey_7;
			}
		}
	}

	.comment-respond {

		label {
			display: block;
			font-size: 16px;
			font-weight: 700;
			margin-right: 12px;

			&[for="subscribe"],
			&[for="wp-comment-cookies-consent"] {
				display: inline-block;
			}
		}

		.form-submit {
			text-align: right;
		}

		@include media(">=tablet"){

			.comment-form {
				display: grid;
				grid-template-columns: repeat( 2, 1fr );
				grid-column-gap: $grid-gutter;

				* {
					grid-column: 1 / -1;
				}

				.comment-form-author,
				.comment-form-email {
					grid-column: auto / auto;
				}
			}
		}

	}
}
