/* Site Header
---------------------------------------------------------------------------------------------------- */

.site-header {
	background: $grey_3;
	border-bottom: 10px solid $blue_1;
	position: relative;
}

.title-area {
	float: left;
	width: auto;

	h1.site-title,
	p.site-title {
		margin: 8px 0;
	}

	.site-title a {
		color: $white;
		display: block;
		@include font-sizes( 24px, 32px );
		font-weight: 300;
		line-height: 44px;

		svg {
			fill: $white;
			float: left;
			margin-right: 16px;
			@include icon-position( 32px, 48px );
		}

		&:hover {
			text-decoration: none;
		}
	}

}

/* Admin Bar
--------------------------------------------- */

@include media(">=tablet" ) {
	.admin-bar .site-container {
		padding-top: 32px;
	}
}

@include media("<tablet") {
	#wpadminbar {
		display: none !important;
	}
}

/* Site Navigation
--------------------------------------------- */

.nav-mobile {
	float: right;
	width: auto;

	@include media(">=tablet") {
		display: none;
	}
}

.mobile-menu-toggle {
	display: block;
	width: $sidr_close;
	height: $sidr_close;
	text-align: center;
	@extend %button;
	border-radius: 0;
	padding: 0;
	margin-top: 8px;
	margin-right: -8px;

	svg {
		@include icon-position( 16px, $sidr_close );
		fill: $white;
	}
}

.nav-primary {
	float: right;
	width: auto;
	@include media("<tablet") {
		display: none;
	}
}

.nav-menu {

	ul {
		clear: both;
		line-height: 1;
		margin: 0;
		width: 100%;
	}

	.menu-item {
		float: left;
		list-style: none;

		a {
			border: none;
			color: $white;
			display: block;
			font-size: 16px;
			line-height: 20px;
			padding: 20px;
			position: relative;
		}

		&:hover > a {
			text-decoration: none;
		}

		svg {
			height: 24px;
			width: auto;
			fill: $white;
		}

		&.twitter a,
		&.meetup a {
			padding: 16px 20px;
		}

		&:hover > a,
		&.current-menu-item > a,
		&.current-menu-ancestor > a {
			background: $grey_6;
		}

		&:hover {
			position: static;

			& > .sub-menu {
				left: auto;
				opacity: 1;
			}
		}
	}

	.sub-menu {
		background: $highlight;
		left: -9999px;
		opacity: 0;
		padding: 10px 0;
		position: absolute;
		width: 250px;
		z-index: 99;

		a {
			background: transparent;
			color: $white;
			padding: 8px 20px;
			position: relative;
			width: 250px;
		}

		.menu-item:hover > a,
		.current-menu-item > a {
			color: $white;
		}

		.sub-menu {
			margin: -54px 0 0 199px;
		}
	}
}

/* Home Header
---------------------------------------------------------------------------------------------------- */

.home-header {
	background: rgba( $blue_1, .2 );
	font-size: 16px;
	padding: $base-margin 0 0;

	p {
		margin-bottom: 16px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.widget {
		margin-bottom: $base-margin;
	}

	@include media(">=tablet") {

		.widget {
			float: left;
			margin-left: 32px / 1028px * 100%;
			width: 498px / 1028px * 100%;

			&:nth-of-type(2n+1) {
				clear: both;
				margin-left: 0;
			}
		}

		@supports( display: grid ) {

			.wrap {
				display: grid;
				grid-template-columns: repeat( 2, 1fr );
				grid-gap: $grid-gutter;

				.widget {
					float: none;
					width: 100%;
					margin: 0;
				}
			}
		}
	}
}
